//+----------------------------------+
//|..ARTEMG.COM .....................|
//|..Author: Nicolas Lebrun .........|
//|..License: MIT License ...........|
//|..................................|                                  
//| If you read this text you should |
//| go here for better understanding |
//| https://github.com/nclslbrn/make |
//+----------------------------------+


html(lang="en")
  include parts/head.pug
  +head(property)
  body
  
    include parts/svg-defs.pug

    header#hero-image.headimg
    
    main
      
      aside.column.info

        h1(data-glitch-effect="add") AЯT ∑MG 
        div.acronym-block
          h3#acronym

        p !{property.info}
        
      section.projects

        ul#projectsList

          each project in projects
        
            li
              a(
                href="./sketch/" + project.name,
              ) 
                span #{project.title}
                small #{project.date}
        
        
      aside.column.about
        ul
          li  
            a(href="https://twitter.com/" + property.author.twitter) 
              svg.icon.icon-twitter 
                use(xlink:href="#icon-twitter")
              span Twitter
          
          li
            a(href="https://github.com/" + property.author.github) 
              svg.icon.icon-github
                use(xlink:href="#icon-github")
              span Github
          li
            a(href=property.author.site)
              svg.icon.icon-link
                use(xlink:href="#icon-link")
              span Site

          li  
            a(href="mailto:" + property.author.mail) 
              svg.icon.icon-mail
                use(xlink:href="#icon-mail")
              span Mail

        p - #{property.author.name} 
      
      .clearfix

