//+----------------------------------+
//|..ARTEMG.COM .....................|
//|..Author: Nicolas Lebrun .........|
//|..License: MIT License ...........|
//|..................................|                                  
//| If you read this text you should |
//| go here for better understanding |
//| https://github.com/nclslbrn/make |
//+----------------------------------+

html(lang="en")
  include parts/head.pug
  +head(property)
  body
  
    include parts/svg-defs.pug

    header#top
      
      img#logo(src="img/logo.svg")
      //h2(data-glitch-effect="add") RT
      // h1(data-glitch-effect="add") AЯT ∑MG 
      div.acronym-block
        h3#acronym

      nav#gridFilter
        ul
          li
            a.active(href="#name" data-orderBy="name") Name
          li
            a(href="#date" data-orderBy="date") Date
          li
            a(href="#category" data-orderBy="topic") Topic

        div#activeIndicator
        
      //a.button(href="#info") About
    
    //p !{property.info}

    ul#project-capture-grid

      each project in projects

        li(
          data-date=project.date, 
          data-name=project.name, 
          data-topic=project.topic
        )

          a(
            href="./sketch/" + project.name,
          ) 
            figure
                
                img(src="./sketch/" + project.name + "/thumbnail.jpg")
                
                figcaption 
                
                  h2.project-title #{project.title}
                  
                  p 
                    svg.icon
                      use(xlink:href="#icon-milestone")
                    | #{project.topic}

                  small 
                    svg.icon
                      use(xlink:href="#icon-clock")
                    | #{project.date}