mixin head(title, property, path) 
  - const metatitle = typeof(title) === "undefined" ? "N.Lebrun" : title + " | N.Lebrun"
  - const metalink = typeof(property) === "undefined" ? "https://artemg.com/" : "https://artmeg.com/sketch/" + property.path
  - const imageUrl = "https://artemg.com/img/Polar-curve.folium.16.41.32--copyright_Nicolas_Lebrun_CC-by-3.0.png"
  - const description = typeof(property) === "undefined" ? "Generative coding projects" : stripTags(property.info)

  head
    title= metatitle
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible"   content="ie=edge")
    meta(name="author"                  content="Nicolas Lebrun")
    meta(name="robots"                  content="all,follow")
    meta(name="viewport"                content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
  
    meta(name="theme-color" content="#ffffff")
    
    link(rel="manifest"                  href=path + "img/manifest.json")
    link(rel="icon" type="image/svg+xml" href=path + "img/favicon.svg")
    link(rel="icon" type="image/png"     href=path + "img/favicon.png")
    link(rel="mask-icon"                 href=path + "img/mask-icon.svg" color="#000000")
    link(rel="apple-touch-icon"          href=path + "img/apple-touch-icon.png")

    meta(property="og:title"            content=metatitle)
    meta(property="og:type"             content="image")
    meta(property="og:url"              content=metalink)
    meta(property="og:site_name"        content="artemg.com")

    if property && property.capture
      meta(property="og:image"            content="https://artmeg.com/sketch/" + property.path + "/capture.jpg")
      meta(property="og:image:width"      content="1200")
      meta(property="og:image:height"     content="630")

      meta(property="twitter:card"        content="summary_large_image")
      meta(property="twitter:image"       content="https://artmeg.com/sketch/" + property.path + "/capture.jpg")

    meta(property="test" content=property.capture)
    
    meta(property="og:description"      content=description) 
    
    if property.date
      meta(property="og:date"           content=property.date)

    meta(property="twitter:title"       content=metatitle)
    meta(property="twitter:description" content=description)
    meta(property="twitter:site"        content="@nicolas_lebrun_")
    meta(property="twitter:creator"     content="@nicolas_lebrun_")






