mixin head(property, path) 

  head
    
    title= property.title || "undefined"
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible"   content="ie=edge")

    if property && property.author && property.author.name
      meta(name="author"                content=property.author.name)
    
    meta(name="robots"                  content="all,follow")
    meta(name="viewport"                content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
  
    meta(name="theme-color" content="#ffffff")

    if property && property.srcPath
      link(rel="manifest"                  href=property.srcPath + "img/manifest.json")
      link(rel="icon" type="image/svg+xml" href=property.srcPath + "img/favicon.svg")
      link(rel="icon" type="image/png"     href=property.srcPath + "img/favicon.png")
      link(rel="mask-icon"                 href=property.srcPath + "img/mask-icon.svg" color="#000000")
      link(rel="apple-touch-icon"          href=property.srcPath + "img/apple-touch-icon.png")
    
    if property && property.title
      meta(property="og:title"            content=property.title)
      meta(property="twitter:title"       content=property.title)

    meta(property="og:type"             content="image")

    if property && property.url 
      meta(property="og:url"              content=property.url)
    
    if property && property.siteUrl
      meta(property="og:site_name"        content=property.siteUrl)

    if property && property.imageCover
      meta(property="og:image"            content=property.imageCover)
      meta(property="og:image:width"      content="1200")
      meta(property="og:image:height"     content="630")

      meta(property="twitter:card"        content="summary_large_image")
      meta(property="twitter:image"       content=property.imageCover)

    if property && property.escapedInfo
      meta(property="og:description"      content=property.escapedInfo) 
      meta(property="twitter:description" content=property.escapedInfo)

    
    if property && property.date
      meta(property="og:date"           content=property.date)

    if property && property.author && property.author.twitter
      meta(property="twitter:site"        content= property.author.twitter)
      meta(property="twitter:creator"     content= property.author.twitter)






